.gwt_frame
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.gwt_desktop
{
  max-height: 100%;
  max-width: 100%;
  margin: none;
  padding: none;
  background: url("../../frontend/images/blurred_background2.jpg");
  background-attachment: fixed;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  overflow:hidden;
  position: relative;
}

.gwt_window
{
  max-height: 100%;
  max-width: 100%;
  background: url("../../frontend/images/background_windows.svg") top center no-repeat rgba(255,255,255,0.1);
  background-size:  cover;
  box-shadow: 0 0 10px 0px rgba(0,0,0, 0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.7);
  border-bottom: 1px solid rgba(255,255,255,0.7);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  position: absolute;
  display: block;
  overflow: hidden;
}
.gwt_window *
{
  margin-top: 10px;
}

.gwt_statictext
{
   font-family: Cantarell;
   font-weight: bold;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.66);
   font-size: 11pt;
   color: rgba(255,255,255,0.8);
   cursor: default;
}

.gwt_image
{
  max-height: 100%;
  max-width: 100%;
  cursor: default;
  display: block;
  position: relative;
}

.gwt_entry
{
  max-height: 100%;
  max-width: 100%;
  width: 75%;
  height: auto;
  padding: 10px;
  background: rgba(25,25,25,0.1);
  border-top: rgba(255,255,255,0.1) solid 1px;
  border-right: rgba(255,255,255,0.1) solid 1px;
  border-bottom: rgba(255,255,255,0.3) solid 1px;
  border-left: rgba(255,255,255,0.1) solid 1px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
  position: relative;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,.66);
  display: block;
}
.gwt_selectbox
{
  max-height: 100%;
  max-width: 100%;
  width: 75%;
  height: auto;
  padding: 10px;
  background: rgba(25,25,25,0.1);
  border-top: rgba(255,255,255,0.1) solid 1px;
  border-right: rgba(255,255,255,0.1) solid 1px;
  border-bottom: rgba(255,255,255,0.3) solid 1px;
  border-left: rgba(255,255,255,0.1) solid 1px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px rgba(0,0,0,0.3);
  position: relative;
  color: rgba(255,255,255,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,.66);
  display: block;
}

.gwt_selectbox li
{
  background: black;
}
