body
{
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../../images/background_aqua.svg") no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.ish_element_focus
{
  border: 1px solid rgba(150,150,150,1);
  box-shadow: 0 0 5px 0 rgba(150,150,150,.66);
}

.fade_in
{
  -webkit-animation: fade_in 1s;
  animation: fade_in 1s;
}

@-webkit-keyframes fade_in
{
from {opacity: 0;}
to {opacity:  1;}
}

@keyframes fade_in
{
from {opacity: 0;}
to {opacity:  1;}
}

.fade_out
{
  animation: fade_out 1s;
  -webkit-animation: fade_out 1s;
}

@-webkit-keyframes fade_out
{
from {opacity: 1;}
to {opacity:  0;}
}

@keyframes fade_out
{
from {opacity: 1;}
to {opacity:  0;}
}

.wait
{
  cursor: wait;
}
